/*New Header starts Here*/

.sikHead{

  background-color: #000!important;
  height:100px!important;
}
.navPad{

  padding-top:15px;
}

.textMargin{
margin-top:-50px
}
/*New Header starts Here*/




/* Payment Receipt Style Starts */
.receiptPop{
    padding-bottom:40px;
}
.receiptMiddleBox{
    
    text-align: left;
    border: solid 1px #eee; padding:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media print {
  .navbar, .navbar-default, .navbar-fixed {

    display:none !important;
  }
}

@media print {
  .nav, .nav-tabs, .pull-left, .closet {

    display:none !important;
  }
}

/* Payment Receipt Style Ends */

/* Unregistered User details form Style Starts */
.unregisteredDetails {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
}

.unregisteredDetails img {
    margin: 0 auto;
}

.unregisteredDetails h3 {
    text-align: center;
    color: #f23f1c;
    margin-top: -5px;
}

.log-reg-page select {
    height: 50px;
    color: #9A9A9A;
    background-color:#eee;
}


.log-reg-page select option {
  font-size: 14px;
  color: #444444;
  border-bottom: solid 1px #666;
  background-color:#fff; 
  line-height: 50px!important;
  height: 1.25rem !important;  
  
}

.labelStyle{

 
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;

}



.placeHolderStyle{

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.placeHolderStyleFrequency{

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff!important;
}




.dropDownStyle{

    position: absolute!important;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.successThickStyle{
padding-top:10px
}

.checkBoxStyle{
  height:50px;
  padding-top:14px;
  
}

.CheckBoxTxtColor{
color: #9A9A9A!important;
}

.inlineStyle{
display: inline;
}

.amountBoxLine{
 width:178px;

 
}

.amountBoxLineHeader{
 background-color:#eee;

}

.orderSummaryTextHead{

    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.orderSummaryText{

    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}


.ValueInBoxes{
text-align: center;

}

.btn-new {
    background-color: #2A3F54;
    height:200px;
}
.btn-Back{
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #666;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

.btn-Back:hover{
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #555;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
/* Unregistered User details form Style Ends */

.subServContent{

  padding-left:20px;
}
.headSubServ h2{
    font-size:20px;
    font-weight:bold;
    color: #f23f1c;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    
}

.subServContent p{
  margin-top:-13px;
} 
   
.subServContent ol {
 font-weight:400;
 font-family: 'Montserrat', sans-serif;
}

.subServContent ul {
font-weight:normal;
margin-left:-10px;
padding-bottom:5px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}
.headSubServSmall h2{
    font-size:15px;
    font-weight:bold;
    color: #f23f1c;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.listPara{

  padding-top:15px;
}

.rightHandServSpacer{

  height:158px;
}

 table { 
  table-layout: fixed; 
}
 table th, table td { 
  overflow: hidden; 
}

/**FAQs Table**/
.faqsBox{
 margin-top:-110px;
}

.faqHeader{
    font-size: 20px;
    color: #f23f1c;
    font-family: 'Montserrat', sans-serif;
   
}


/**Contact form starts Here**/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

.contactContainer {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #f23f1c;;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#f23f1c;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#D12908;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/**Contact form ends Here**/



/**Date Picker starts Here**/
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat!important; ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0!important;;
}

/* custom styles */
label {
  display: block;
}
input {
  border: 1px solid #ccc!important;
  background-color: #fff;
  padding-left:20px!important;
 
}
.datePicker{
 
  padding-top:10px!important;
  padding-bottom: 20px!important;
}
.date-picker {
  width: 240px !important;
  height: 30px !important;
  max-height: 40px !important;
  border:solid #ddd 1px !important;
  position: relative !important;
  overflow: hidden !important;
  -webkit-transition: all 0.3s 0s ease-in-out!important;
  transition: all 0.3s 0s ease-in-out!important;
}

/**Date Picker ends Here**/